.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.item a.active {
    color: gold;
}